syntax: glob

.idea/
.vscode/
.vs/

cmake-build-*/
build/
~build/
output/
~output/

src_csharp/*/obj/
src_csharp/*/bin/
src_csharp/packages/

*.nupkg
*.user
nuget.exe
src/CMakeLists.txt
src/CMakeSettings.json
*.bak
build.ps1-ok na VS26
